<article class="card mb-2">
    <div class="card-body">
        <p>{{item.origin}}</p>
        <p>{{item.shortUrl}}</p>
        <a class="btn btn-danger" href="">Eliminar</a>
        <a class="btn btn-warning" href="">Editar</a>
        <a class="btn btn-info" href="">Copiar</a>
    </div>
</article>