<h1 class="text-center my-5">Registro de usuarios nuevos</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/register" method="post">
            <input
                type="text"
                name="userName"
                class="form-control mb-2"
                placeholder="Ingrese nombre"
                value="facundo"
            />
            <input
                type="text"
                name="email"
                class="form-control mb-2"
                placeholder="Ingrese su correo"
                value="facundo@gmail.com"
            />
            <input
                type="password"
                name="password"
                class="form-control mb-2"
                placeholder="Ingrese su contraseña"
                value="12345"
            />
            <input
                type="password"
                name="repassword"
                class="form-control mb-2"
                placeholder="Repita su contraseña"
                value="12345"
            />
            <button type="submit" class="btn btn-primary mt-2">Registrar usuario</button>
        </form>
    </div>
</div>